rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function hasCorrectRole(authority) {
      return request.auth.token.editSX[authority] == true;
    }

    match /GOA:Authority:GOA/{document=**} {
      allow read, write: if hasCorrectRole('GOA');
    }
    match /SOF:Authority:1/{document=**} {
      allow read, write: if hasCorrectRole('SOF');
    }
  }
}
