rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function hasCorrectRole(codespace) {
      return request.auth.token.editSX != null && request.auth.token.editSX[codespace] == true;
    }

    match /codespaces/{codespace}/{document=**} {
      allow read: if request.auth != null;
      allow write: if hasCorrectRole(codespace);
    }
  }
}
